@import "styles/vars"

.u-paper
	--bgcolor: transparent
	box-shadow: 0px 3px 8px rgba($colorDark, .24)
	border-radius: 3px
	position: relative

	&:before
		content: ""
		background: var(--bgcolor)
		opacity: .06
		border-radius: 3px
		+pos(absolute, 0, 0, 0, 0)
		+transition(background)

.u-dimmed
	opacity: .7

.u-highlight
	+singleRunAnimation(highlight, 840ms, ease-in-out)
	animation-iteration-count: infinite
	animation-direction: alternate

.u-add-button
	padding: 30px
	background: rgba($colorDark, .12)
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	border: 2px dashed rgba(white, .12)
	border-radius: 3px
	cursor: pointer
	+transition

	&.column
		flex-direction: column
		+childSpaceBottom(10px)
		
	&:not(.column)
		+childSpaceRight(10px)

	&:hover
		border-color: white
		background: rgba($colorDark, .24)

	span
		font-weight: 700