@import "styles/vars"

div.c-editor-scene

	div.renderer-row
		display: flex
		align-items: stretch
		justify-content: space-between
		height: 80vh

		div.renderer
			flex-grow: 1
			flex-shrink: 1
			display: flex
			align-items: center
			justify-content: center
			background: grey

		div.components
			flex-grow: 0
			flex-shrink: 0